.container-calendar {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.calendar {
  width: 250px;
  height: 200px;
  background-color: rgb(235, 235, 235);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
  right: 30px;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.month {
  width: 100%;
  height: 15%;
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.month i {
  cursor: pointer;
  margin: 0px 10px;
}

.month h1 {
  font-size: 13px;
}

.weekdays {
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  margin-top: 7px;
}

.weekday {
  width: calc(100% / 7);
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.dates div {
  font-size: 11px;
  padding: 4px 0px;
  margin: 1px 5px;
  width: calc(100% / 7 - 10px);
  text-align: center;
  color: #616161;
  transition: background-color 0.15s linear;
}

.dates div:hover:not(.today) {
  background-color: rgba(0, 153, 207, 0.2);
  cursor: pointer;
}

.dates .previous-date,
.dates .next-date {
  opacity: 0.5;
}

.dates .today {
  background-color: rgba(0, 153, 207, 0.5);
  color: white;
}
