.container-calendar {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.calendar {
  width: 250px;
  height: 200px;
  background-color: rgb(235, 235, 235);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 5%;
  top: 10%;
  border: 1px solid black;
}

.month {
  width: 100%;
  height: 15%;
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.month i {
  cursor: pointer;
  margin: 0px 10px;
}

.month h1 {
  font-size: 13px;
}

.weekdays {
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  margin-top: 7px;
}

.weekday {
  width: calc(100% / 7);
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.dates div {
  font-size: 11px;
  padding: 4px 0px;
  margin: 1px 5px;
  width: calc(100% / 7 - 10px);
  text-align: center;
  color: #616161;
  /* transition: background-color 0.15s linear; */
}

.dates div:hover:not(.today) {
  background-color: rgba(0, 153, 207, 0.2);
  cursor: pointer;
}

.dates .previous-date,
.dates .next-date {
  opacity: 0.5;
}

.dates .today {
  background-color: rgba(0, 153, 207, 0.5);
  color: white;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .calendar {
    width: 280px;
    height: 210px;
  }
  .month h1 {
    font-size: 0.95em;
  }
  .weekday {
    font-size: 0.8em;
  }
  .dates div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 2px 5px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .calendar {
    width: 300px;
    height: 240px;
  }
  .month h1 {
    font-size: 0.95em;
  }
  .weekday {
    font-size: 0.8em;
  }
  .dates div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 4px 5px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .calendar {
    width: 300px;
    height: 240px;
  }
  .month h1 {
    font-size: 0.95em;
  }
  .weekday {
    font-size: 0.8em;
  }
  .dates div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 4px 5px;
  }
}

@media screen and (min-width: 2560px) {
  .calendar {
    right: 6%;
    width: 300px;
    height: 240px;
  }
  .month h1 {
    font-size: 0.95em;
  }
  .weekday {
    font-size: 0.8em;
  }
  .dates div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 4px 5px;
  }
}
