.frames {
  width: 260px;
  height: 270px;
  position: absolute;
  top: 25%;
  left: 35%;
  transition: all 0.3s ease-in-out;
}
.frame {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.frame:nth-child(1) {
  border: 12px solid black;
  width: 150px;
  height: 100px;
}

.frame:nth-child(2) {
  border: 12px solid black;
  width: 100px;
  height: 150px;
  position: absolute;
  top: 2.5em;
  right: -3em;
}

.frame:nth-child(3) {
  border: 12px solid black;
  width: 100px; /*em to px due to font-size*/
  height: 150px;
  position: absolute;
  bottom: -40px;
  left: 30px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  overflow-wrap: anywhere;
}

.bgImage {
  width: inherit;
  height: inherit;
  background-color: #d9d9d9;
  transition: background-color 0.5s linear;
}
