.frames {
  width: 260px;
  height: 270px;
  position: absolute;
  top: 20%;
  left: 35%;
}
.frame {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  transition: opacity 0.3s ease-in-out;
}

.frame:nth-child(1) {
  border: 12px solid black;
  width: 150px;
  height: 100px;
}

.frame:nth-child(2) {
  border: 12px solid black;
  width: 100px;
  height: 150px;
  position: absolute;
  top: 2.5em;
  right: -3em;
}

.frame:nth-child(3) {
  border: 12px solid black;
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: -40px;
  left: 30px;
  overflow-wrap: anywhere;
}

.greeting {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.bgImage {
  width: inherit;
  height: inherit;
  background-color: #d9d9d9;
  transition: background-color 0.5s linear;
}

.bgImage.imgDM {
  filter: brightness(40%);
}

.frameDM.DM {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 930px) {
  .frame {
    opacity: 0;
  }
}

@media screen and (max-width: 1366px) {
  .greeting {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 32px;
    width: 100%;
    height: 100%;
    padding: 5px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1600px) {
  .frames {
    width: 400px;
    height: 410px;
    left: 30%;
  }

  .frame:nth-child(1) {
    border: 14px solid black;
    width: 220px;
    height: 160px;
  }

  .frame:nth-child(2) {
    border: 14px solid black;
    width: 160px;
    height: 220px;
  }

  .frame:nth-child(3) {
    border: 14px solid black;
    width: 160px;
    height: 220px;
    font-size: 42px;
  }
}

@media screen and (min-width: 1600px) {
  .frames {
    width: 440px;
    height: 450px;
    top: 18%;
    left: 30%;
  }

  .frame:nth-child(1) {
    width: 240px;
    height: 180px;
  }

  .frame:nth-child(2) {
    width: 180px;
    height: 240px;
  }

  .frame:nth-child(3) {
    width: 180px;
    height: 240px;
  }
}
