.setting-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.setting-btn {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 28px;
}

.setting-btn:hover {
  cursor: pointer;
}

.js-settingBg {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.js-setting {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  padding: 50px 50px;
}

.setting-popup {
  visibility: visible;
  opacity: 1;
}

.setting-content {
  margin: 100px 0px;
}

.setting__name,
.setting__mode {
  display: inline-block;
  margin: 10px 0px;
}
