.container-todolist {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: absolute;
  right: 30px;
  bottom: 50px;
  background-color: rgb(235, 235, 235);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.add-to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #d8d8d8;
}
.add-to-do .fa-plus {
  position: absolute;
  left: 10px;
}

.add-to-do .fa-plus:hover {
  cursor: pointer;
}

.add-to-do input {
  width: 90%;
  border: none;
  padding: 5px 8px;
  background-color: #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  transition: border-bottom 0.3s linear;
  position: relative;
  left: -10px;
}

.add-to-do input:focus {
  outline: none;
}
.add-to-do .clear {
  position: absolute;
  right: 10px;
}

.add-to-do .clear .fa-hand-sparkles:hover {
  cursor: pointer;
  animation: flash 0.5s ease-in-out infinite;
}

@keyframes flash {
  from {
    color: lightblue;
  }
  to {
    color: black;
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  background-color: rgb(235, 235, 235);
  padding: 10px 0px;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

ul#list {
  list-style-type: none;
  padding-left: 0;
}

li.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
}

li.item .fa-circle:hover,
li.item .fa-check-circle:hover,
li.item .fa-trash-alt:hover {
  cursor: pointer;
}

li.item .fa-check-circle {
  color: green;
}

li.item > span.text {
  width: 83%;
  margin: 8px 0px;
  word-break: break-all;
}

li.item > span.line-through {
  text-decoration: line-through;
}
