.container-todolist {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid black;
  right: 500px;
  background-color: rgb(235, 235, 235);
}

.add-to-do {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin: 5px;
  background-color: #d8d8d8;
}

.add-to-do .fa-plus {
  width: 20px;
}
.add-to-do .fa-plus:hover {
  cursor: pointer;
}

.add-to-do input {
  width: 200px;
  border: none;
  padding: 5px 10px;
  background-color: #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.add-to-do input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.add-to-do .clear .fa-hand-sparkles:hover {
  cursor: pointer;
  animation: flash 0.5s ease-in-out infinite;
}

@keyframes flash {
  from {
    color: lightblue;
  }
  to {
    color: black;
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  background-color: rgb(235, 235, 235);
  padding: 10px 0px;
}

ul#list {
  list-style-type: none;
  padding-left: 0;
}

li.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
}

li.item .fa-circle:hover,
li.item .fa-check-circle:hover,
li.item .fa-trash-alt:hover {
  cursor: pointer;
}

li.item .fa-check-circle {
  color: green;
}

li.item > span.text {
  width: 83%;
  margin: 8px 0px;
  word-break: break-all;
}

li.item > span.line-through {
  text-decoration: line-through;
}

@media screen and (max-width: 1800px) {
  .container-todolist {
    right: 100px;
    top: 200px;
  }
}

@media screen and (min-width: 1800px) {
  .container-todolist {
    right: 20%;
    top: 20%;
  }
}
