.container-todolist {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.todolist {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: rgba(252, 251, 249, 1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.todolist.darkmode {
  background-color: rgba(252, 251, 249, 0.5);
}

.content {
  height: 100%;
  overflow-y: auto;
  background-color: ;
  padding: 10px 0px;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.add-to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  background-color: rgba(246, 243, 238, 1);
}

.add-to-do.darkmode {
  background-color: rgba(246, 243, 238, 0.3);
}

.add-to-do .fa-plus {
  position: absolute;
  left: 10px;
}

.add-to-do input {
  width: 90%;
  border: none;
  padding: 5px;
  margin: 0px 22px;
  background-color: rgba(246, 243, 238, 1);
  border-bottom: 1px solid rgba(246, 243, 238, 1);
  transition: border-bottom 0.3s linear;
  position: relative;
  left: -20px;
}

.add-to-do input.darkmode {
  background-color: rgba(246, 243, 238, 0.3);
  border-bottom: 1px solid rgba(246, 243, 238, 0.3);
}

.add-to-do input:focus {
  outline: none;
  border-bottom: 1px solid rgba(201, 173, 133, 0.5);
}
.add-to-do .clear {
  position: absolute;
  right: 10px;
}

.add-to-do .clear .fa-hand-sparkles:hover {
  cursor: pointer;
  animation: flash 0.75s ease-in-out infinite;
}

@keyframes flash {
  25% {
    color: lightblue;
  }
  50% {
    color: black;
  }
}

ul#list {
  list-style-type: none;
  padding-left: 0;
}

li.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(201, 173, 133, 0.3);
  padding: 2px 20px;
}

li.item.darkmode {
  border-bottom: 1px solid rgba(246, 243, 238, 0.3);
}

li.item .fa-circle:hover,
li.item .fa-check-circle:hover,
li.item .fa-trash-alt:hover {
  cursor: pointer;
}

li.item .fa-check-circle {
  color: rgba(0, 153, 207, 0.8);
}

li.item > span.text {
  width: 83%;
  margin: 8px 0px;
  word-break: break-all;
}

li.item > span.line-through {
  text-decoration: line-through;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .todolist {
    width: 280px;
    height: 320px;
  }
}
@media screen and (min-width: 1600px) {
  .todolist {
    width: 300px;
    height: 370px;
  }
}
@media screen and (min-width: 2560px) {
  .todolist {
    right: 6%;
  }
}

@media screen and (max-height: 900px) {
  .todolist {
    top: 40%;
  }
}

@media screen and (min-height: 900px) and (max-height: 1080px) {
  .todolist {
    top: 38%;
  }
}

@media screen and (min-height: 1080px) and (max-height: 1440px) {
  .todolist {
    top: 37%;
  }
}

@media screen and (min-height: 1440px) {
  .todolist {
    top: 33%;
  }
}
