@import "reset.css";

/* COMPONENTS */
@import "css/clock.css";
@import "css/frame-bg.css";
@import "css/greeting.css";
@import "css/modal-name.css";
@import "css/todolist.css";
@import "css/setting.css";
@import "css/darkmode.css";
@import "css/calendar.css";

body {
  min-width: 1024px;
  min-height: 1024px;
  background-image: url("images/background/background-16-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 100%;
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
