body {
  min-width: 1024px;
  min-height: 1024px;
  background-image: url("/images/background-16-9.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.frames {
  width: 500px;
  height: 500px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  position: absolute;
}

.frame:nth-child(1) {
  width: 240px;
  height: 160px;
  border: 15px solid black;
  left: 0px;
  top: 0px;
}

.frame:nth-child(2) {
  width: 160px;
  height: 240px;
  border: 15px solid black;
  left: 285px;
  top: 50px;
}

.frame:nth-child(3) {
  width: 160px;
  height: 240px;
  border: 15px solid black;
  left: 80px;
  bottom: 30px;
}
@media screen and (max-width: 1800px) {
  .frames {
    left: 550px;
    top: 200px;
  }
}

@media screen and (min-width: 1800px) {
  .frames {
    left: 30%;
    top: 20%;
  }
}
