html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 50px;
}

.container {
  height: 500px;
  width: 300px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}

.header {
  height: 30%;
  position: relative;
  background-color: yellow;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header .clear {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
}

.header .clear .fa-hand-sparkles {
  transform: transition 0.3s ease-in-out infinite;
}

.header .clear .fa-hand-sparkles:hover {
  animation: flash 0.4s ease-in-out infinite;
  cursor: pointer;
}

@keyframes flash {
  from {
    color: lightblue;
  }
  to {
    color: black;
  }
}

.header #date {
  position: absolute;
  bottom: 10px;
  padding-left: 20px;
  font-size: 18px;
}

.add-to-do {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.add-to-do .fa-plus:hover {
  cursor: pointer;
}

.add-to-do input {
  width: 200px;
  border: none;
  padding: 5px 10px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.add-to-do input:focus {
  outline: none;
}

.content {
  height: 350px;
  overflow-y: auto;
}

ul#list {
  list-style-type: none;
  padding-left: 0;
}

li.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid yellow;
  padding: 0px 20px;
}

li.item .fa-circle:hover,
li.item .fa-check-circle:hover,
li.item .fa-trash-alt:hover {
  cursor: pointer;
}

li.item .fa-check-circle {
  color: green;
}

li.item > span.text {
  width: 83%;
  margin: 8px 0px;
  word-break: break-all;
}

li.item > span.line-through {
  text-decoration: line-through;
}
